{% extends "base.html" %}
{% block content %}
    <br>
    {% if user.is_authenticated %}
        <div class="vertical-line ms-5 me-5">
        <table class="table table-hover table-bordered table-responsive table-striped table-sm">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
                {% if records %}
                    {% for record in records %}
                        <tr>
                            <td>{{ record.first_name }} {{ record.last_name }}</td>
                            <td>{{ record.email }}</td>
                            <td>{{ record.phone_number }}</td>
                            <td>{{ record.address }}</td>
                            <td>{{ record.city }}</td>
                            <td>{{ record.zipcode }}</td>
                            <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="col-md-6 offset-md-3">
        <h1 class="h2">Login</h1>
        <br>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% endif %}
{% endblock content %}

<style>
.vertical-line {
    border-left: 1px solid #ccc;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -1px;
}
</style>
